
.header {
  margin-top: 10px;
  padding: 10px 40px;
  box-shadow: 1px 1px 10px gray;
  position: sticky;
  top: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  cursor: pointer;
}


.login-as-btn {
  background-color: white;
  border: 1px solid gray;
  font-size: 1em;
  padding: .4rem 3rem;
  border-radius: 5px;
}

.login-type-box {
  position: relative;
}

.login-type-drop-down {
  border: 1px solid gray;
  position: absolute;
  top: 110%;
}

.login-type-drop-down li {
  list-style-type: none;
  list-style-position: inside;
  padding: .4rem 2.5rem;

}

.login-type-drop-down li:hover {
  background-color: rgb(39, 176, 255);
  color: white;
}
